% Relatório Situacional (template LaTeX)
% Observação: este arquivo é gerado por Jinja2 e compilado por um engine LaTeX (pdflatex/tectonic).

\documentclass[12pt,a4paper]{article}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[brazil]{babel}
\usepackage{geometry}
\usepackage{graphicx}
\usepackage{array}
\usepackage{longtable}
\usepackage{booktabs}
\usepackage{hyperref}
\usepackage[table]{xcolor}
\usepackage{enumitem}
\usepackage{fancyhdr}
\usepackage{titlesec}

\geometry{left=2.2cm,right=2.2cm,top=2.2cm,bottom=2.2cm}

\definecolor{Primary}{HTML}{0F4C5C}
\definecolor{Secondary}{HTML}{4B5563}
\definecolor{LightGray}{HTML}{F3F4F6}
\definecolor{TableHeader}{HTML}{E5E7EB}

\renewcommand{\arraystretch}{1.15}
\setlength{\tabcolsep}{6pt}

	itleformat{\section}{\Large\bfseries\color{Primary}}{}{0pt}{}
	itleformat{\subsection}{\normalsize\bfseries\color{Secondary}}{}{0pt}{}

\pagestyle{fancy}
\fancyhf{}
\lhead{\textbf{Relatório Situacional UBS}}
\rhead{\textbf{\textcolor{Secondary}{\thepage}}}
\renewcommand{\headrulewidth}{0.4pt}

\setlist[itemize]{noitemsep, topsep=0pt}

\begin{document}

% Capa premium
\begin{center}
  \colorbox{LightGray}{
    \parbox{0.95\textwidth}{
      \vspace{0.5cm}
      {\LARGE \textbf{\textcolor{Primary}{ {{ title }} }}}\\[0.2cm]
      {\large \textcolor{Secondary}{ {{ municipality }} }}\\[0.1cm]
      {\large \textcolor{Secondary}{ {{ reference_period }} }}\\[0.4cm]
      	extbf{UBS:} {{ ubs_name }}\\
      	extbf{CNES:} {{ cnes }}\\[0.2cm]
      	extbf{Gerado em:} {{ generated_at }}
      \vspace{0.5cm}
    }
  }
\end{center}

\vspace{0.8cm}

\section*{1. Identificação e Caracterização}

\begin{tabular}{@{} p{5.3cm} p{10.2cm} @{}}
	oprule
\rowcolor{TableHeader}
	extbf{Campo} & \textbf{Valor} \\
\midrule
Nome do relatório & {{ report_name }} \\
Área de atuação & {{ area_atuacao }} \\
Habitantes ativos & {{ habitantes_ativos }} \\
Microáreas & {{ microareas }} \\
Famílias cadastradas & {{ familias }} \\
Domicílios & {{ domicilios }} \\
Domicílios rurais & {{ domicilios_rurais }} \\
Data de inauguração & {{ data_inauguracao }} \\
Data da última reforma & {{ data_ultima_reforma }} \\
\bottomrule
\end{tabular}

\subsection*{Descritivos gerais}
{{ descritivos_gerais }}

\subsection*{Observações gerais}
{{ observacoes_gerais }}

\section*{2. Serviços Oferecidos}

\begin{itemize}
{% for s in services %}
  \item {{ s }}
{% endfor %}
\end{itemize}

\textbf{Outros serviços:} {{ outros_servicos }}

\section*{3. Indicadores Epidemiológicos (último valor)}

\begin{longtable}{@{} p{6.2cm} p{2.4cm} p{2.4cm} p{2.6cm} @{}}
\toprule
\rowcolor{TableHeader}
	extbf{Indicador} & \textbf{Valor (\%)} & \textbf{Meta (\%)} & \textbf{Período} \\
\midrule
\endhead
{% for i in indicators %}
{{ i.nome }} & {{ i.valor }} & {{ i.meta }} & {{ i.periodo }} \\
{% endfor %}
\bottomrule
\end{longtable}

\section*{4. Recursos Humanos (grupos profissionais)}

\begin{longtable}{@{} p{7.0cm} p{2.2cm} p{3.6cm} @{}}
	oprule
\rowcolor{TableHeader}
	extbf{Cargo/Função} & \textbf{Qtd.} & \textbf{Vínculo} \\
\midrule
\endhead
{% for g in professional_groups %}
{{ g.cargo }} & {{ g.quantidade }} & {{ g.vinculo }} \\
{% endfor %}
\bottomrule
\end{longtable}

\section*{5. Perfil do Território}

\subsection*{Descrição do território}
{{ territorio_descricao }}

\subsection*{Potencialidades}
{{ territorio_potencialidades }}

\subsection*{Riscos e vulnerabilidades}
{{ territorio_riscos }}

\section*{6. Problemas Identificados e Necessidades}

\subsection*{Problemas identificados}
{{ problemas_identificados }}

\subsection*{Necessidades (equipamentos e insumos)}
{{ necessidades_equipamentos }}

\subsection*{Necessidades específicas dos ACS}
{{ necessidades_acs }}

\subsection*{Infraestrutura e manutenção}
{{ necessidades_infraestrutura }}

\section*{7. Metadados de Envio}

\begin{tabular}{@{} p{5.3cm} p{10.2cm} @{}}
	oprule
\rowcolor{TableHeader}
	extbf{Campo} & \textbf{Valor} \\
\midrule
Status & {{ submission_status }} \\
Submetido em & {{ submitted_at }} \\
\bottomrule
\end{tabular}

\end{document}
